<header>
                <!--Navbar-->
                <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo scrolling-navbar">
                    <mdb-navbar-brand>
                        <a class="logo navbar-brand waves-light" mdbWavesEffect href="#">
                            <img src="assets/img/bad-birds-logo.png" height="30" alt="">
                        </a>
                    </mdb-navbar-brand>
                    <links>
                        <ul class="navbar-nav mr-auto">
                        <li class="nav-item active waves-light" mdbWavesEffect>
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item waves-light" mdbWavesEffect>
                            <a class="nav-link" href="#">Über uns</a>
                        </li>
                        </ul>
                    </links>
                </mdb-navbar>
</header>

<main>

    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12">

                <!-- Jumbotron -->
                <div class="jumbotron p-0">

                <!-- Card image -->
                <div class="view overlay rounded-top waves-light" mdbWavesEffect>
                    <img src="assets/img/Stack.png" class="img-fluid" alt="Sample image">
                    <a >
                    <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Card content -->
                <div class="card-body text-center mb-3">

                    <!-- Title -->
                    <h1 class="card-title h1 my-4 text-primary"><strong>Team Bad Birds - Ein neues Kapitel.</strong></h1>
                    <div><img src="assets/img/bad-birds-logo.png" style="height: 200px;" alt=""></div>
                    <!-- Text -->
                    <p class="card-text py-2 text-secondary">Die Geschichte vom führenden Deutsche Wingsuit Akrobatik Team auf dem Weg zur WM.</p>

                </div>

                </div>
                <!-- Jumbotron -->

            </div>
        </div>

        <div class="row mb-4">
            <div class="col-md-12">
                <!--Card-->
                <mdb-card cascade="true" narrower="true">

                <!--Card image-->
                <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                    <mdb-card-img src="assets/img/siegerehrung-2016.jpg"></mdb-card-img>
                    <a>
                    <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <!--/Card image-->
                <!--Card image-->
                <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                    <mdb-card-img src="assets/img/siegerehrung-2017.jpg"></mdb-card-img>
                    <a>
                    <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <!--/Card image-->
                <!--Card image-->
                <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                    <mdb-card-img src="assets/img/siegerehrung-2019.jpg"></mdb-card-img>
                    <a>
                    <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <!--/Card image-->

                <mdb-card-body cascade="true" class="text-center">
                    <!--Card content-->
                    <!--Title-->
                    <h4 class="card-title">
                    <strong>Die Entscheidung - wir nehmen an der WM 2020 in Russland teil!</strong>
                    </h4>

                    <mdb-card-text>
                    Letztes Jahr haben wir zum dritten mal 
     in Folge die Deutschen Meisterschaften gewonnen. 
     Deshalb wird es Zeit, dass wir dieses Jahr an der Fallschirmsprung WM teilnehmen.
     Wir haben das ambitionierte Ziel, eine Medaille mit nach Hause zu bringen.
                    </mdb-card-text>

                </mdb-card-body>
                <!--/.Card content-->

                </mdb-card>
                <!--/.Card-->
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <!--Card-->
                <mdb-card cascade="true" narrower="true">

                <!--Card image-->
                <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                    <mdb-card-img src="assets/img/training.png"></mdb-card-img>
                    <a>
                    <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <!--/Card image-->
                <mdb-card-body cascade="true" class="text-center">
                    <!--Card content-->
                    <!--Title-->
                    <h4 class="card-title">
                    <strong>Wie wollen wir einen Platz auf dem Podium erreichen?</strong>
                    </h4>

                    <mdb-card-text>
                    In den letzten Jahren konnten wir bereits 
      erfolgreich unsere Wertungen verbessern. Dieses Jahr erweitert sich unser Team um ein 
      sehr erfahrenes Mitglied. Trotzdem benötigen wir viel Training um 
      international erfolgreich zu sein.
                    </mdb-card-text>

                </mdb-card-body>
                <!--/.Card content-->

                </mdb-card>
                <!--/.Card-->
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <!--Card-->
                <mdb-card cascade="true" narrower="true">

                <mdb-card-body cascade="true" class="text-center">
                    <!--Card content-->
                    <!--Title-->
                    <h4 class="card-title">
                    <strong>Die lieben Kosten</strong>
                    </h4>

                    <mdb-card-text>
                    Die Kosten für Arbeitsausfall, Reisen, Training, 
      Sprungausrüstung, Wingsuits, Kameraausrüstung und Ähnliches 
      sind allerdings ziemlich hoch.
                    </mdb-card-text>

                </mdb-card-body>
                <!--/.Card content-->

                </mdb-card>
                <!--/.Card-->
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <!--Card-->
                <mdb-card cascade="true" narrower="true">

                <mdb-card-body cascade="true" class="text-center">
                    <!--Card content-->
                    <!--Title-->
                    <h4 class="card-title">
                    <strong>Das Sponsoring</strong>
                    </h4>

                    <mdb-card-text>
                    Deshalb
      suchen wir Sponsoren die uns finanziell unterstützen und dafür mit uns in 
       Bezug auf Sport, Abenteuer, Akrobatik und das Fliegen in Verbindung gebracht werden 
       möchten.
                    </mdb-card-text>

                </mdb-card-body>
                <!--/.Card content-->

                </mdb-card>
                <!--/.Card-->
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <!--Card-->
                <mdb-card cascade="true" narrower="true">

                <mdb-card-body cascade="true" class="text-center">
                    <!--Card content-->
                    <!--Title-->
                    <h4 class="card-title">
                    <strong>Nutzen für Sponsoren</strong>
                    </h4>

                    <mdb-card-text>
Letztes Jahr haben wir begonnen aktiv die Medien anzusprechen und waren von 
        der hohen Resonanz überrascht:
        <!--TODO: Zeitungsartikel und Berichte verlinken? Oder in seperaten Bereich auslagern?-->
        <ul>
          <li>Ein Portrait über uns wurde in Zeitungen um Stuttgart, Karlsruhe und Lahr gedruckt</li>
          <li>Ein TV Bericht wurde im SWR gezeigt.</li>
          <li>Ein TV Interview wurde für ein Studentenmagazin produziert.</li>
          <li>Und wir waren in der Landesschau Baden-Württemberg vertreten.</li>
        </ul>
        Unabhängig von unserer PR Initiative teilen wir unsere Erfolge und Geschichten auch immer gerne 
        in unseren eigenen Social Media Kanälen und wir sind Teil der Berichterstattung 
        über die Deutschen Meisterschaften.
        <br>
        Unsere nationalen Erfolge, die Faszination des akrobatischen
          Fliegens und die damit zusammenhängenden Geschichten zeigen eine vereinnahmende Wirkung 
          auf das Publikum.
          <br>
          Wir würden uns freuen, wenn Sie dabei nicht nur mit ihrem Logo zu sehen 
          sind sondern idealerweise auch Teil der Story und wir Sie im Gegenzug 
          mit dieser Öffentlichkeitsarbeit unterstützen können.
                    </mdb-card-text>

                </mdb-card-body>
                <!--/.Card content-->

                </mdb-card>
                <!--/.Card-->
            </div>
        </div>


        <div class="row mt-4">
            <div class="col-md-12">
                <!--Card-->
                <mdb-card cascade="true" narrower="true">

                <!--Card image-->
                <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                    <mdb-card-img src="assets/img/print-medien.jpg"></mdb-card-img>
                    <a>
                    <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <!--/Card image-->
                <!--Card image-->
                <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                    <mdb-card-img src="assets/img/interviews.jpg"></mdb-card-img>
                    <a>
                    <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <!--/Card image-->
                <!--Card image-->
                <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                    <mdb-card-img src="assets/img/fernsehen-nah.jpg"></mdb-card-img>
                    <a>
                    <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <!--/Card image-->

                <mdb-card-body cascade="true" class="text-center">
                    <!--Card content-->
                    <!--Title-->
                    <h4 class="card-title">
                    <strong>Die Werbeflächen</strong>
                    </h4>

                    <mdb-card-text>
                    Dass unsere Wingsuits eine fotogene Werbefläche bieten, liegt nahe. 
        Zusätzlich gibt es noch zahlreiche weitere Möglichkeiten, 
        wie z.B. den Helm oder das Gurtzeug. 
        Oder können Sie sich Ihren Firmennamen als Teil unseres Teamnamens vorstellen? 
        Wir können es! Wenn wir dann nach einem erfolgreichen Sprung vor den staunenden 
        Zuschauern landen, wird Ihr Logo auf unseren Fallschirmen gut zu sehen sein. 
          <br>
          Es ist in den Medien leider nicht immer möglich, Sponsoren zu erwähnen. 
          Aber die Aufnahmen unserer Flüge sind sehr beliebt. Sie werden praktisch 
          immer gezeigt, wenn wir in den Medien sind. Ist ihr Logo auf unseren Wingsuits,
          dann sind Sie auch mit uns in den Medien vertreten. Deshalb ist das der 
          prominenteste Platz für Sie.
                    </mdb-card-text>

                </mdb-card-body>
                <!--/.Card content-->

                </mdb-card>
                <!--/.Card-->
            </div>
        </div>



        <div class="row mt-4">
            <div class="col-md-12">
                <!--Card-->
                <mdb-card cascade="true" narrower="true">

                  <!--Card image-->
                  <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                    <mdb-card-body cascade="true" class="text-center">
                      <!--Card content-->
                      <!--Title-->
                      <h4 class="card-title">
                      <strong>Gestaltungsmöglichkeiten für Werbung auf Wingsuits</strong>
                      </h4>

                      <mdb-card-text>
                      Jede Wingsuit ist ein maßgefertigtes Einzelstück. 
    Es gibt entsprechend viele Freiheiten für das Design. 
    Wir können nicht nur Logos in nahezu allen Farben und Formen aufbringen, 
    sondern die komplette Wingsuit gemäß Ihrer CI gestalten.
                      </mdb-card-text>

                  </mdb-card-body>
                  <!--/.Card content-->
                  </div>
                  <mdb-card-img src="assets/img/ws-design.png"></mdb-card-img>
                  <!--/Card image-->
                  

                </mdb-card>
                <!--/.Card-->
            </div>
        </div>


    </div>
</main>


<!-- Footer -->
<footer class="page-footer font-small pt-4">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://mdbootstrap.com/education/angular/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->