
    <!-- Start your project here-->
<!-- Main navigation -->
<header>


  <!--Navbar-->
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
      <mdb-navbar-brand>
        <a class="logo navbar-brand waves-light" mdbWavesEffect href="#"><strong>Bad Birds</strong></a>
      </mdb-navbar-brand>
      <links>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active waves-light" mdbWavesEffect>
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" href="#">Über uns</a>
          </li>
        </ul>
      </links>
    </mdb-navbar>

  <div class="view intro jarallax"
  style="background-image: url(assets/img/Stack.png); background-attachment: fixed; height: 1200px;">
<div class="full-bg-img mask rgba-white-light">
 <div class="container">
   <div class="d-flex align-items-center d-flex justify-content-center" style="height: 500px">
     <div class="row mt-5">
       <div class="col-md-12 wow fadeIn mb-3">
         <div class="intro-info-content text-center">
           <h2 class="h1 display-1 mb-2 wow fadeInDown" data-wow-delay="0.3s">
             Bad Birds 
           </h2>
           <div>
            <img src="assets/img/bad-birds-logo.png" alt="" style="width: 150px; display: block; margin: 0 auto;">
          </div>
           <h5 class="font-up mb-3 mt-1 font-bold wow fadeIn" data-wow-delay="0.4s">
             Die Geschichte vom führenden Deutsche Wingsuit Akrobatik Team auf dem Weg zur WM.
           </h5>
          </div>
       </div>
     </div>
   </div>
 </div>
</div>
</div>

<div class="container">
<!--Grid row-->
<div class="row">
 <!--Grid column-->
 <div class="col-md-12 text-center mb-5">
   <h2 class="h1 font-bold light-blue-text my-5">Die Entscheidung - wir nehmen an der WM 2020 in Russland teil!</h2>
   <p align="justify">Letztes Jahr haben wir zum dritten mal 
     in Folge die Deutschen Meisterschaften gewonnen. 
     Deshalb wird es Zeit, dass wir dieses Jahr an der Fallschirmsprung WM teilnehmen.
     Wir haben das ambitionierte Ziel, eine Medaille mit nach Hause zu bringen.
    </p>
 </div>
 <!--Grid column-->
</div>
<!--Grid row-->
</div>

<div class="view intro jarallax"
  style="background-image: url(assets/img/siegerehrung-2019.jpg); background-attachment: fixed; background-size: cover; min-height: 700px">
  <div class="full-bg-img mask rgba-pink-slight">
  </div>
</div>

<div class="view intro jarallax"
  style="background-image: url(assets/img/siegerehrung-2017.jpg); background-attachment: fixed; background-size: cover; min-height: 700px">
  <div class="full-bg-img mask rgba-pink-slight">
  </div>
</div>

<div class="view intro jarallax"
  style="background-image: url(assets/img/siegerehrung-2016.jpg); background-attachment: fixed; background-size: cover; min-height: 700px">
  <div class="full-bg-img mask rgba-pink-slight">
  </div>
</div>

<div class="container">
<!--Grid row-->
<div class="row">
 <!--Grid column-->
 <div class="col-md-12 text-center my-5">
   <h2 class="h1 font-bold grey-text mb-5">Wie wollen wir einen Platz auf dem Podium erreichen?</h2>
   <p align="justify">In den letzten Jahren konnten wir bereits 
      erfolgreich unsere Wertungen verbessern. Dieses Jahr erweitert sich unser Team um ein 
      sehr erfahrenes Mitglied. Trotzdem benötigen wir viel Training um 
      international erfolgreich zu sein.</p>
 </div>
 <!--Grid column-->
</div>
<!--Grid row-->
</div>

<div class="view intro jarallax"
  style="background-image: url(assets/img/training.png); background-attachment: fixed; background-size: cover; min-height: 700px">
  <div class="full-bg-img mask rgba-pink-slight">
  </div>
</div>

<div class="container">
<!--Grid row-->
<div class="row">
 <!--Grid column-->
 <div class="col-md-12 text-center my-5">
   <h2 class="h1 font-bold green-text mb-5">Die lieben Kosten</h2>
   <p align="justify">Die Kosten für Arbeitsausfall, Reisen, Training, 
      Sprungausrüstung, Wingsuits, Kameraausrüstung und Ähnliches 
      sind allerdings ziemlich hoch.
    </p>
 </div>
 <!--Grid column-->
</div>
<!--Grid row-->
</div>

<div class="container">
<!--Grid row-->
<div class="row">
 <!--Grid column-->
 <div class="col-md-12 text-center my-5">
   <h2 class="h1 font-bold green-text mb-5">Das Sponsoring</h2>
   <p align="justify">Deshalb
      suchen wir Sponsoren die uns finanziell unterstützen und dafür mit uns in 
       Bezug auf Sport, Abenteuer, Akrobatik und das Fliegen in Verbindung gebracht werden 
       möchten.
    </p>
 </div>
 <!--Grid column-->
</div>
<!--Grid row-->
</div>

<div class="container">
  <!--Grid row-->
  <div class="row">
    <!--Grid column-->
    <div class="col-md-12 text-center my-5">
      <h2 class="h1 font-bold green-text mb-5">Nutzen für Sponsoren</h2>
      <div align="justify">
        Letztes Jahr haben wir begonnen aktiv die Medien anzusprechen und waren von 
        der hohen Resonanz überrascht:
        <!--TODO: Zeitungsartikel und Berichte verlinken? Oder in seperaten Bereich auslagern?-->
        <ul>
          <li>Ein Portrait über uns wurde in Zeitungen um Stuttgart, Karlsruhe und Lahr gedruckt</li>
          <li>Ein TV Bericht wurde im SWR gezeigt.</li>
          <li>Ein TV Interview wurde für ein Studentenmagazin produziert.</li>
          <li>Und wir waren in der Landesschau Baden-Württemberg vertreten.</li>
        </ul>
        Unabhängig von unserer PR Initiative teilen wir unsere Erfolge und Geschichten auch immer gerne 
        in unseren eigenen Social Media Kanälen und wir sind Teil der Berichterstattung 
        über die Deutschen Meisterschaften.
        <br>
        Unsere nationalen Erfolge, die Faszination des akrobatischen
          Fliegens und die damit zusammenhängenden Geschichten zeigen eine vereinnahmende Wirkung 
          auf das Publikum.
          <br>
          Wir würden uns freuen, wenn Sie dabei nicht nur mit ihrem Logo zu sehen 
          sind sondern idealerweise auch Teil der Story und wir Sie im Gegenzug 
          mit dieser Öffentlichkeitsarbeit unterstützen können.
      </div>
    </div>
  <!--Grid column-->
  </div>
<!--Grid row-->
</div>

<div class="container">
  <!--Grid row-->
  <div class="row">
    <!--Grid column-->
    <div class="col-md-12 text-center my-5">
      <h2 class="h1 font-bold green-text mb-5">Die Werbeflächen</h2>
      <p align="justify">
        Dass unsere Wingsuits eine fotogene Werbefläche bieten, liegt nahe. 
        Zusätzlich gibt es noch zahlreiche weitere Möglichkeiten, 
        wie z.B. den Helm oder das Gurtzeug. 
        Oder können Sie sich Ihren Firmennamen als Teil unseres Teamnamens vorstellen? 
        Wir können es! Wenn wir dann nach einem erfolgreichen Sprung vor den staunenden 
        Zuschauern landen, wird Ihr Logo auf unseren Fallschirmen gut zu sehen sein. 
          <br>
          Es ist in den Medien leider nicht immer möglich, Sponsoren zu erwähnen. 
          Aber die Aufnahmen unserer Flüge sind sehr beliebt. Sie werden praktisch 
          immer gezeigt, wenn wir in den Medien sind. Ist ihr Logo auf unseren Wingsuits,
          dann sind Sie auch mit uns in den Medien vertreten. Deshalb ist das der 
          prominenteste Platz für Sie.
        </p>
    </div>
  <!--Grid column-->
  </div>
<!--Grid row-->
</div>

<div class="view intro jarallax"
  style="background-image: url(assets/img/print-medien.jpg); background-attachment: fixed; background-size: cover; min-height: 700px">
  <div class="full-bg-img mask rgba-pink-slight">
  </div>
</div>

<div class="view intro jarallax"
  style="background-image: url(assets/img/interviews.jpg); background-attachment: fixed; background-size: cover; min-height: 700px">
  <div class="full-bg-img mask rgba-pink-slight">
  </div>
</div>

<div class="view intro jarallax"
  style="background-image: url(assets/img/fernsehen-nah.jpg); background-attachment: fixed; background-size: cover; min-height: 700px">
  <div class="full-bg-img mask rgba-pink-slight">
  </div>
</div>

  <!-- TODO: Further contentization -->
  <bb-p headline="Gestaltungsmöglichkeiten für Werbung auf Wingsuits"
  text="Jede Wingsuit ist ein maßgefertigtes Einzelstück. 
  Es gibt entsprechend viele Freiheiten für das Design. 
  Wir können nicht nur Logos in nahezu allen Farben und Formen aufbringen, 
  sondern die komplette Wingsuit gemäß Ihrer CI gestalten."
  ></bb-p>

<div class="view intro jarallax"
  style="background-image: url(assets/img/ws-design.png); background-attachment: fixed; background-size: cover; min-height: 700px">
  <div class="full-bg-img mask rgba-pink-slight">
  </div>
</div>

</header>
<!-- Main navigation -->
<!-- /Start your project here-->
    